PORT=4000
HOST=0.0.0.0
CORS_ORIGIN=http://10.13.2.73,http://127.0.0.1:5173,http://localhost:5173
JWT_SECRET=change-this-secret
JWT_EXPIRES_IN=8h
AUTH_LOGIN=admin
AUTH_PASSWORD=admin123
MONGO_URI=mongodb://127.0.0.1:27017/
MONGO_DB_NAME=contacts
